<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
</head>
<body>
    <main>
        <h1>Lovelace</h1>

        <section>
            <p> <strong>Augusta Ada King, condesa de Lovelace</strong>  (nacida Augusta Ada Byron en Londres, 10 d'avientu de 1815-Londres, 27 de payares de 1852), conocida davezu como Ada Lovelace, foi una matemática y escritora británica que la so fama vien-y principalmente pol so trabayu sobre la máquina calculadora mecánica d'usu xeneral de Charles Babbage, la denominada máquina analítica.</p>
            <div>
                <img width="300" height="300" src="/img/lovelace.jpg" alt="">
            </div>
        </section>
        
        <nav>
            <ul>
                <li><a href="/home">Inicio</a></li>
                <li><a href="/babbage">Babbage</a></li>
                <li><a href="/berners-lee">Berners-Lee</a></li>
                <li><a href="/clarke">Clarke</a></li>
                <li><a href="/hamilton">Hamilton</a></li>
                <li><a href="/hopper">Hopper</a></li>
                <li><a href="/turing">Turing</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>